---
export interface Props {
    title: string;
}

const { title } = Astro.props;


interface MenuOption {
    name: string;
    url: string;
}

const menuOptions: MenuOption[] = [
    { name: 'Quien eres', url: '/Aprende_como' },
    { name: 'Tu proximo trabajo', url: '/Proximo_trabajo' },
    { name: 'Tu candidato', url: '/Proximo_empleado' },
    { name: 'Quienes somos', url: '/Quienes_somos' },
];
---

<header class="bg-azul text-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-1 lg:px-4 text-white" aria-label="Global">
        <div class="flex items-center gap-x-12 text-mx">
            <a href="/" class="-m-1.5 p-1.5 flex">
                <span class="sr-only">{title}</span>
                <img class="h-8 w-auto" src="/public/logo.png" alt="">
                <button class="px-3 font-semibold leading-6">Oficraft</button>
            </a>
        </div>
        <div class="hidden lg:flex lg:gap-x-12 text-sm">
            {menuOptions.map((option) => (
                <a href={option.url} class="text-sm font-semibold leading-6">{option.name}</a>
            ))}
        </div>
        <div class="hidden lg:flex text-white">
            <a href="#" class="text-sm font-semibold leading-6">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
        <div class="flex lg:hidden text-white">
            <button id="menu-button" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
    </nav>

    <!-- Mobile menu, show/hide based on menu open state. -->
    <div id="mobile-menu" class="hidden lg:hidden bg-azul " role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10 bg-azul"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto px-6 py-6 sm:max-w-sm sm:ring-1 ">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
                </a>
                <button id="close-menu-button" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="my-6">
                    <div class="space-y-2 py-6">
                        {menuOptions.map((option) => (
                            <a href={option.url} class="-mx-3 block rounded-lg px-3 py-2 font-semibold leading-7  hover:bg-gray-50">{option.name}</a>
                        ))}
                    </div>
                    <div class="py-6 text-white">
                        <a href="#" class="text-white">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const menuButton = document.getElementById('menu-button');
        const closeButton = document.getElementById('close-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        menuButton?.addEventListener('click', function() {
            mobileMenu?.classList.remove('hidden');
        });

        closeButton?.addEventListener('click', function() {
            mobileMenu?.classList.add('hidden');
        });
    });
</script>